.site-title {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: black;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.3);
}